body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
p{
    font-size:30px;
    color: rgb(194, 170, 62);
}

h1{
    color:rgb(194, 170, 62);
    outline-style: solid;
    outline-width: 5px;
}

.vert-center{
    text-align: center;
}

.background-img{
    background-size: cover;
    background-position-y: 50%;
}

@font-face {
    font-family: jedi;
    src: url(fonts/Starjedi.ttf);
  }

.holomap{
    font-family: jedi;
}

.background-transparent{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px whitesmoke ;
}

.img-board{
    border-radius: 20px;
    box-shadow: 10px 10px 5px whitesmoke ;
    margin-bottom: 20px;
}

#carousel{
    border-radius: 20px;
    border-color: whitesmoke;
    box-shadow: 10px 10px 5px whitesmoke ;
    margin-bottom: 20px;
}

.carousel-inner{
    border-radius: 20px;
}

.icons{
    border-radius: 20px;
    border-color: whitesmoke;
    box-shadow: 10px 10px 5px whitesmoke ;
    margin-bottom: 20px;
}
